.hero{
    text-transform: capitalize;
    font-family: sans-serif;
    div{
        height: 16rem;
        h1{
            font-weight: bold;
            font-size: 24px;
            color: blue;
        }
    }
}